In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Mental health Depression disorder Data.csv',low_memory = False)
data

,Unnamed: 0,country,code,year,schizophrenia,bipolar_disorder,eating_disorders,anxiety_disorders,drug_use_disorders,depression,alcohol_use_disorders
0,0,Afghanistan,AFG,1990,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...,...,...,...,...,...
5483,5483,Zimbabwe,ZWE,2013,0.155670,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641
5484,5484,Zimbabwe,ZWE,2014,0.155993,0.608610,0.118073,3.093964,0.768914,3.140290,1.515470
5485,5485,Zimbabwe,ZWE,2015,0.156465,0.609363,0.119470,3.098687,0.771802,3.155710,1.514751
5486,5486,Zimbabwe,ZWE,2016,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269
5487,5487,Zimbabwe,ZWE,2017,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5488 entries, 0 to 5487
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             5488 non-null   int64
 1   country                5488 non-null   object
 2   code                   5488 non-null   object
 3   year                   5488 non-null   int64
 4   schizophrenia          5488 non-null   float64
 5   bipolar_disorder       5488 non-null   float64
 6   eating_disorders       5488 non-null   float64
 7   anxiety_disorders      5488 non-null   float64
 8   drug_use_disorders     5488 non-null   float64
 9   depression             5488 non-null   float64
 10  alcohol_use_disorders  5488 non-null   float64
dtypes: float64(7), int64(2), object(2)
memory usage: 471.8+ KB

In [4]:
table_1_data = data.iloc[:6468].copy()

In [5]:
table_1_data.head()

,Unnamed: 0,country,code,year,schizophrenia,bipolar_disorder,eating_disorders,anxiety_disorders,drug_use_disorders,depression,alcohol_use_disorders
0,0,Afghanistan,AFG,1990,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

In [6]:
table_1_data.drop(columns=['Unnamed: 0'], inplace = True)

In [7]:
table_1_data.columns = ['country', 'code', 'year', 'schizophrenia', 'bipolar_disorder', 'eating_disorders', 'anxiety_disorders', 'drug_use_disorders', 'depression', 'alcohol_use_disorders']

In [8]:
table_1_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5488 entries, 0 to 5487
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                5488 non-null   object
 1   code                   5488 non-null   object
 2   year                   5488 non-null   int64
 3   schizophrenia          5488 non-null   float64
 4   bipolar_disorder       5488 non-null   float64
 5   eating_disorders       5488 non-null   float64
 6   anxiety_disorders      5488 non-null   float64
 7   drug_use_disorders     5488 non-null   float64
 8   depression             5488 non-null   float64
 9   alcohol_use_disorders  5488 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 428.9+ KB

In [9]:
table_1_data['country'].loc[table_1_data['code'].isnull()].unique()

array([], dtype=object)

In [10]:
table_1_data.dropna(axis=0, inplace = True)

In [11]:
table_1_data.iloc[:, 2:] = table_1_data.iloc[:, 2:].apply(pd.to_numeric)

In [12]:
table_1_data

,country,code,year,schizophrenia,bipolar_disorder,eating_disorders,anxiety_disorders,drug_use_disorders,depression,alcohol_use_disorders
0,Afghanistan,AFG,1990,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...,...,...,...,...
5483,Zimbabwe,ZWE,2013,0.155670,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641
5484,Zimbabwe,ZWE,2014,0.155993,0.608610,0.118073,3.093964,0.768914,3.140290,1.515470
5485,Zimbabwe,ZWE,2015,0.156465,0.609363,0.119470,3.098687,0.771802,3.155710,1.514751
5486,Zimbabwe,ZWE,2016,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269
5487,Zimbabwe,ZWE,2017,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943

In [13]:
table_1_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5488 entries, 0 to 5487
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                5488 non-null   object
 1   code                   5488 non-null   object
 2   year                   5488 non-null   int64
 3   schizophrenia          5488 non-null   float64
 4   bipolar_disorder       5488 non-null   float64
 5   eating_disorders       5488 non-null   float64
 6   anxiety_disorders      5488 non-null   float64
 7   drug_use_disorders     5488 non-null   float64
 8   depression             5488 non-null   float64
 9   alcohol_use_disorders  5488 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 428.9+ KB

In [14]:
table_1_data.to_csv('Mental health Depression disorder Data.csv')